/********** eyelids **********/

.dancer {
	position: relative;
	top: -80px;
	left: 100px;
}

/********** face **********/

.eyelids {
	position: absolute;
	top: 203px;
	left: 317px;
	z-index: 4;
	-webkit-animation: eyelids 5s infinite;

}

@-webkit-keyframes eyelids {
	          from { opacity: 1.0; }
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-10deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
          to { opacity: 0.0; }

}

.face {
	position: absolute;
	top: 165px;
	left: 300px;
	z-index: 3;
	-webkit-animation: face 5s infinite;
}

@-webkit-keyframes face {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-10deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }

}

/********** torso **********/

.torso {
	position: absolute;
	top: 225px;
	left: 277px;
	z-index: 2;
	-webkit-animation: torso 5s infinite;
}

@-webkit-keyframes torso {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(3deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(0deg); }

}

/********** right arm **********/

.rightArmUpper {
	position: absolute;
	top: 260px;
	left: 375px;
	z-index: 2;
	-webkit-animation: rightArmUpper 5s infinite;
}

@-webkit-keyframes rightArmUpper {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(7deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(-7deg); }
    100% { -webkit-transform: rotate(0deg); }

}

.rightArmLower {
    position: absolute;
	top: 360px;
	left: 395px;
	z-index: 5;
	-webkit-animation: rightArmLower 5s infinite;
}

@-webkit-keyframes rightArmLower {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-10deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }

}

.rightHandDown {
    position: absolute;
	top: 460px;
	left: 390px;
	z-index: 4;
	-webkit-animation: rightHandDown 5s infinite;

}

@-webkit-keyframes rightHandDown {
    0%   { left: 390px; top: 460px; }
    25%  { left: 400px; top: 460px; }
    50%  { left: 390px; top: 460px; }
    75%  { left: 380px; top: 460px; }
    100% { left: 390px; top: 460px; }

}

/********** left arm **********/

.leftArmUpper {
	position: absolute;
	top: 258px;
	left: 250px;
	z-index: 0;
	-webkit-animation: leftArmUpper 5s infinite;

}

@-webkit-keyframes leftArmUpper {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(7deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }

}

.leftArmLower {
    position: absolute;
	top: 360px;
	left: 250px;
	z-index: 3;
	-webkit-animation: leftArmLower 5s infinite;

}

@-webkit-keyframes leftArmLower {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-10deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(-22deg); }
    100% { -webkit-transform: rotate(0deg); }

}

.leftHandDown {
    position: absolute;
	top: 460px;
	left: 257px;
	z-index: 2;
	-webkit-animation: leftHandDown 5s infinite;

}

@-webkit-keyframes leftHandDown {
    0%   { left: 257px; top: 460px; }
    25%  { left: 268px; top: 460px; }
    50%  { left: 257px; top: 460px; }
    75%  { left: 278px; top: 453px; }
    100% { left: 257px; top: 460px; }

}

/********** right leg **********/

.rightLegUpper {
    position: absolute;
	top: 430px;
	left: 335px;
	z-index: 1;
	-webkit-animation: rightLegUpper 5s infinite;

}

@-webkit-keyframes rightLegUpper {
    0%   { -webkit-transform: scale(); }
    25%  { -webkit-transform: scale(0.90,0.90); }
    50%  { -webkit-transform: scale(); }
    75%  { -webkit-transform: scale(); }
    100% { -webkit-transform: scale(); }

}

.rightLegLower {
    position: absolute;
	top: 575px;
	left: 335px;
	z-index: 1;
	-webkit-animation: rightLegLower 5s infinite;

}

@-webkit-keyframes rightLegLower {
    0%   { -webkit-transform: scale(); }
    25%  { -webkit-transform: scale(0.90,0.90); }
    50%  { left: 335px; top: 550px; }
    75%  { -webkit-transform: scale(); }
    100% { -webkit-transform: scale(); }

}

.rightFoot {
    position: absolute;
	top: 660px;
	left: 340px;
	-webkit-animation: rightFoot 5s infinite;

}

@-webkit-keyframes rightFoot {
    0%   { -webkit-transform: scale(); }
    25%  { left: 340px; top: 635px; }
    50%  { left: 340px; top: 635px; }
    75%  { -webkit-transform: scale(); }
    100% { -webkit-transform: scale(); }

}

/********** left leg **********/

.leftLegUpper {
    position: absolute;
	top: 430px;
	left: 285px;
	-webkit-animation: leftLegUpper 5s infinite;

}

@-webkit-keyframes leftLegUpper {
    0%   { -webkit-transform: scale(); }
    25%  { -webkit-transform: scale(); }
    50%  { -webkit-transform: scale(); }
    75%  { -webkit-transform: scale(0.90,0.90); }
    100% { -webkit-transform: scale(); }

}

.leftLegLower {
    position: absolute;
	top: 575px;
	left: 302px;
	z-index: 1;
	-webkit-animation: leftLegLower 5s infinite;

}

@-webkit-keyframes leftLegLower {
    0%  { -webkit-transform: scale(); }
    25% { -webkit-transform: scale(); }
    50% { -webkit-transform: scale(0.90,0.90); }
    75% { top: 545px; left: 302px; }
    1000% { -webkit-transform: scale(); }

}

.leftFoot {
    position: absolute;
	top: 660px;
	left: 300px;
	-webkit-animation: leftFoot 5s infinite;

}

@-webkit-keyframes leftFoot {
    0%   { -webkit-transform: scale(); }
    25%  { -webkit-transform: scale(); }
    50%  { -webkit-transform: scale(); }
    75%  { left: 300px; top: 630px; }
    100% { left: 300px; top: 660px; }

}

.background {
    position: relative, center;
    z-index: -10;

}
