.eyelids {
	position: absolute;
	top:0px;
	left: 0px;

}

/**********HEAD***********/

.head {
	position: absolute;
	top:0px;
	left: 0px;
	-webkit-animation: head 2s infinite;
}

@-webkit-keyframes head {
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-5deg); }
    50%  { -webkit-transform: rotate(0deg); }
    75%  { -webkit-transform: rotate(5deg); }
    100% { -webkit-transform: rotate(0deg); }

.torso {
	position: absolute;
	top: 0px;
	left: 0px;
}

.rightArmUpper {
    position: absolute;
	top: 0px;
	left: 0px;
	-webkit-animation: rightArmUpper 5s infinite; /* Chrome, Safari, Opera */ 
    animation: mymove 5s infinite;

}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes rightArmUpper {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 100px;}
    50%  {top: 100px; left: 100px;}
    75%  {top: 100px; left: 0px;}
    100% {top: 0px; left: 0px;}
}

/* Standard syntax */
@keyframes rightArmUpper {
    0%   {top: 0px; left: 0px}
    25%  {top: 0px; left: 100px;}
    50%  {top: 100px; left: 100px;}
    75%  {top: 100px; left: 0px;}
    100% {top: 0px; left: 0px;}
}

.rightArmLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightHandDown {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftArmUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftArmLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftHandDown {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightLegUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightLegLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightFoot {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftLegUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftLegLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftFoot {
    position: absolute;
	top: 0px;
	left: 0px;

}

/*experiment*/

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(50deg);
  }
}
#box {
    margin: 300px 0 0;
     -webkit-animation: infinite-spinning 2s infinite;
}