.eyelids {
	position: absolute;
	top:0px;
	left: 0px;
	
}

/**********HEAD***********/

.head {
	position: absolute;
	top:0px;
	left: 0px;
}

.torso {
	position: absolute;
	top: 0px;
	left: 0px;
}

.rightArmUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightArmLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightHandDown {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftArmUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftArmLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftHandDown {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightLegUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightLegLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.rightFoot {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftLegUpper {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftLegLower {
    position: absolute;
	top: 0px;
	left: 0px;

}

.leftFoot {
    position: absolute;
	top: 0px;
	left: 0px;

}

@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#box {
    margin: 300px 0 0;
     -webkit-animation: infinite-spinning 2s infinite;
}